{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>All students</h1>
  <form class="form form-inline" method="GET" action="">
    {{ search_form|crispy }}
    <input type="submit" value="🔎" class="btn btn-primary mr-2 ml-2">
    <a href="{% url 'school:student-create' %}" class="btn btn-success">+</a>
  </form>
  <hr>
  <ul>
    {% for student in student_list %}
      <li><a href="{% url 'school:student-detail' pk=student.pk %}">{{ student }}</a></li>
    {% endfor %}
  </ul>
{% endblock content %}
