{% extends "base.html" %}

{% block content %}
  <h1>{{ subscriptionplan }}</h1>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#" class="btn btn-success">Edit</a></li>
    <li class="list-inline-item"><a href="#" class="btn btn-danger">Delete</a></li>
  </ul>
  <ul>
    <li>Price: {{ subscriptionplan.price }}</li>
    <li>Validity days: {{ subscriptionplan.validity_days }}</li>
    <li>Lessons count: {{ subscriptionplan.lessons_count }}</li>
  </ul>
  <hr>
  <h2>Students:</h2>
  <ul>
    {% for subscription in subscriptionplan.subscriptions.distinct %}
      <li><a href="#">{{ subscription.student }}</a></li>
    {% endfor %}
  </ul>
{% endblock content %}
