{% extends "base.html" %}

{% block content %}
  <h1>{{ subscriptionplan }}</h1>
  <a href="{% url 'school:plan-update' pk=subscriptionplan.pk %}" class="btn btn-success">Edit</a>
  <a href="{% url 'school:plan-delete' pk=subscriptionplan.pk %}" class="btn btn-danger">Delete</a>
  <hr>
  <ul>
    <li>Price: {{ subscriptionplan.price }}</li>
    <li>Validity days: {{ subscriptionplan.validity_days }}</li>
    <li>Lessons count: {{ subscriptionplan.lessons_count }}</li>
    <li>Lessons standart duration: {{ subscriptionplan.lessons_duration }} minuts</li>
  </ul>
  <hr>
  <h2>Students:</h2>
  <ul>
    {% for subscription in subscriptionplan.subscriptions.distinct %}
      <li><a href="{% url 'school:student-detail' pk=subscription.student.pk %}">{{ subscription.student }}</a></li>
    {% endfor %}
  </ul>
{% endblock content %}
