{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>All teachers</h1>
  <form action="" class="form form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔎" class="btn btn-primary mr-2 ml-2">
    <a href="{% url 'school:teacher-create' %}" class="btn btn-success">+</a>
  </form>
  <hr>
  <ul>
    {% for teacher in teacher_list %}
      <li><a href="{% url 'school:teacher-detail' pk=teacher.pk %}">{{ teacher }}</a></li>
    {% endfor %}
  </ul>
{% endblock content %}
